In [2]:
import pandas as pd

In [7]:
log = pd.read_csv('rfid_log.txt', header = None)

In [8]:
log.head()

      0  1   2  3   4   5         6
0  2019  5  27  7  29  34      Ross
1  2019  5  27  7  29  38    Rachel
2  2019  5  27  7  29  41    Monica
3  2019  5  27  7  29  45  Chandler
4  2019  5  27  7  29  48      Ross

In [18]:
#create a column with timestamps from single elements of the date
#future development: log the date as a single column in format 'yyyy-mm-dd hh:mm:ss'

log['timestamp'] = log[['year', 'month', 'day', 'hours', 'minutes', 'seconds']].apply(lambda s: pd.Timestamp(*s), axis = 1)

In [24]:
#ddiscard the unnecessary columns

log = log.drop(['year', 'month', 'day', 'hours', 'minutes', 'seconds'], axis = 'columns')

In [27]:
log.head()

       name           timestamp
0      Ross 2019-05-27 07:29:34
1    Rachel 2019-05-27 07:29:38
2    Monica 2019-05-27 07:29:41
3  Chandler 2019-05-27 07:29:45
4      Ross 2019-05-27 07:29:48

In [67]:
names = [name for name in log['name'].unique()] #list of names

In [65]:
for name in names:
    log.loc[log['name'] == name, 'timedelta'] = log.loc[log['name'] == name, 'timestamp'].diff().shift(0).fillna(pd.Timedelta(seconds = 0))
    
# for each name return the timedelta between successive rows; return 0 seconds when there is no previous row, otherwise it becomes a NaT value

In [66]:
log

        name           timestamp timedelta
0       Ross 2019-05-27 07:29:34  00:00:00
1     Rachel 2019-05-27 07:29:38  00:00:00
2     Monica 2019-05-27 07:29:41  00:00:00
3   Chandler 2019-05-27 07:29:45  00:00:00
4       Ross 2019-05-27 07:29:48  00:00:14
5     Monica 2019-05-27 07:29:51  00:00:10
6   Chandler 2019-05-27 07:29:54  00:00:09
7     Rachel 2019-05-27 07:29:59  00:00:21
8     Rachel 2019-05-27 07:49:36  00:19:37
9       Ross 2019-05-27 07:49:41  00:19:53
10    Monica 2019-05-27 07:49:43  00:19:52
11  Chandler 2019-05-27 07:49:46  00:19:52